<div class="page-header">
  <h2>
    Editing: <%= @topic.title %>
  </h2>
</div>

<%= render 'form' %>

<hr>
<p>
  <%= link_to 'Show', @topic, class: 'btn btn-default btn-sm' %>
  <%= link_to 'All topics', topics_path, class: 'btn btn-default btn-sm' %>
</p>

