<h1>Topics</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Votes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td>
          <%= link_to topic.title, topic %>
        </td>
        <td>
          <%= pluralize topic.votes.size, 'vote' %>
        </td>
        <td>
          <%= button_to 'Upvote!', upvote_topic_path(topic), method: :post, class: 'btn btn-default btn-block' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Topic', new_topic_path, class: 'btn btn-default' %>
</p>
